---
layout: archive
---


<p><a href="/jamesokun.github.io/files/jamesokun.pdf">Curriculum Vitae</a></p>

I am Predoctoral Reearch Fellow at MIT Economics. I graduated Brown University with a Bachelor of Science in Applied Mathematics-Economics
and a Bachelor of Art in Computer Science with the highest latin honors (magna cum laude) and departmental honors. 
<hr>

<hr>
This website includes:
<ul>
  <li> My papers and data.</li>
  <li> Blog posts.</li>
  <li> Code that is useful for economists.</li>
</ul>

<!--
-->
