---
layout: archive
---

I am a Pre-doctoral Research Fellow at MIT Economics. My research has been featured in media outlets like <i>The New York Times</i>, <i>The Wall Street Journal</i>, and <i>The Washington Post</i>. In May 2020, I graduated from Brown University with a Bachelor of Science in Applied Mathematics-Economics
and a Bachelor of Arts in Computer Science with the highest Latin honors and departmental honors in Economics. Here is my <a href="files/jokun_resume.pdf">CV</a>. 
<hr>

I'm an aspiring economist and I'm interested in:
<ul>
  <li> Inudstrial organization with an emphasis on healthcare and media markets</li>
  <li> Health economics, insurance, and understanding how to best disseminate health information to the public</li>
  <li> Political economy, the role media markets play in political polarization</li>
</ul>
<hr>

<!--
-->
