---
layout: archive
---

I am a PhD student in the Economics Department at MIT. I study industrial organization and public economics. I'm currently working on projects about public procurement and buyer groups.  My work has been featured in media outlets like <i>The New York Times</i>, <i>The Wall Street Journal</i>, and <i>The Washington Post</i>. In May 2020, I graduated from Brown University with a Bachelor of Science in Applied Mathematics-Economics
and a Bachelor of Arts in Computer Science. Here is my <a href="files/jo_resume.pdf">CV</a>. 
<hr>
<!--
-->
